:root {
  --background-box-color: rgb(50, 37, 167);
}

.box {
  padding: 1rem;
}

.box-color {
  background-color: rgb(61, 61, 61);
}

.item {
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  font-weight: 900;
}

.hide {
  display: none;
}

.drag-over {
  background-color: lightslategray;
}

.box-name {
  margin-top: 1vh;
  font-size: 1rem;
  font-weight: 900;
}

.box-container {
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

.container-functionalities {
  display: flex;
}

.new-box-color {
  background-color: var(--background-box-color, rgb(61, 61, 61));
}

.dragging-rotation {
  transform: rotate(90deg);
}

.remove, #remove-all {
  background-color: red;
  color: white;
  border:0;
}

.input-container {
  display: flex;
  justify-content: space-between;
}

.item-container {
  display: inline;
  padding: 0;
  border: 0;
}

.remove-item {
  background-color: red;
  color: white;
  border: 0;
  display: inline-block;
  padding: 1vw;
}

#modal-user-information {
  box-shadow: 1vw 1vw 5vw gray;
  padding-bottom: 30vw;
  display: none;
}